<app-header titulo="Cards"></app-header>

<ion-content>
  <ion-card mode="ios" color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, quibusdam earum consequatur eligendi, corporis ex magni laudantium itaque cumque accusamus nisi sint. Earum ratione suscipit explicabo similique soluta totam eum!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque expedita sint atque unde amet. Quaerat ut, cupiditate blanditiis voluptatibus delectus natus assumenda atque mollitia minima beatae, fuga possimus unde laudantium.
    </ion-card-content>>
  </ion-card>

</ion-content>
